.default_btn{
    color:#90CAF9;
}

.task{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin: 5px;
}

.task__btn-delete-task{
    width:24px;
    height: 24px;
    margin:5px;
}

.container__btn-delete{
    margin:5px;
}

.font_ready{
    text-decoration: line-through;
    color: darkgray;
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-size: 24px;
    
}

.default_font{
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.container__btn-update{
    display: block;
    margin:10px
}

.container__input-create{
    margin: 10px;
}

.default_btn:hover{
    color:#1E88E5;
}